# API Connection Toggle
NEXT_PUBLIC_USE_NGROK=true
NEXT_PUBLIC_LOCAL_API_URL=http://localhost:5000/api
NEXT_PUBLIC_NGROK_API_URL=
NEXT_PUBLIC_NGROK_FRONTEND_URL=
# Deprecated (Handled in src/utils/api.js)
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
